# ==========================
# Django
# ==========================

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# ==========================
# PostgreSQL
# ==========================

POSTGRES_DB=postgres-db
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgres-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ==========================
# pgAdmin
# ==========================

PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=pgadmin-password
